@charset "UTF-8";
:root{
    --font-fonte1: 'fonte1'
}
*{
    margin: 0px;
    padding: 0px;
}
/*html, body{
    min-height: 100vh; /*isos é importando para ver a página completa pq td ta dentro do body*/
/*@font-face{
    font-family: 'fonte1';
    src: url(../fontes/Madina.otf) format(opentype);
    font-weight: normal;
} NÃO ESTOU MAIS USANDO */
body{
    background-color: rgb(255, 255, 255);
}
header{
    background-color: rgb(255, 255, 255);
    border-bottom: 3px solid #0CE6E8 ; 
    width: 100%;
    padding-bottom: 3px;   
}
.container > img{
    /*position: relative;
    left: 28%; /*ESSE POSITION RELATIVE ABRE O LEFT E AÍ FUNCIONA O POSICIONAMENTO*/
    /*transform: translate(20%, 25%); ISSO AQUI TAMBÉM MUDA A POSIÇÃO DO ITEM*/  
    width: 100%;
    max-width: 400px;   
}
header > nav {
    padding-right: 20px;
    text-align: center;
}
header > nav > a {
    color: rgb(36, 34, 138);
    text-decoration: none;
    padding: 10px;
    position: relative;
    top: -10px;
}
header > nav > a:hover{
    background-color: rgba(56, 110, 126, 0.562);
    border-radius: 25px;
    transition-duration: 0.5s;   
}
img{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
section.normal{
    text-align: center;
    padding: 10px;  
}
section.normal > p{
    font-size: 22px;
    padding: 30px 30px;
    line-height: 2em;
    display: inline-block; /*faz ficar dento de caixas e em linha horizontal*/
    background-color: #0ce4e813;
    border-radius: 10px;
    color: rgba(34, 88, 138, 0.952);
    text-shadow: 0px 0px 1px rgba(27, 28, 85, 0.432);
    margin: 2px;
    padding-top: 100px;
    border: #0ce4e813 solid;  
}
section.i2{
    background-attachment: fixed;
    padding-top: 25%;
}
section#img2{
    background-image: url(../img/casal2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

p.alianca1{
    background-image: url(../img/alianca1.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 50% 3%;   
}
p.corporativo{
    background-image: url(../img/corporativo.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 50% 4%; 
}
p.festa{
    background-image: url(../img/festa.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 50% 1%; 
}
section > p:hover{
    background-color: rgba(56, 110, 126, 0.219);
}
div.corporativog{
    background-image: url(../img/corporativog.jpg);
    background-repeat: no-repeat;   
    
    background-position: top center;
}
div#corporativogg{
    background-attachment: fixed;
    width: 100%;
    
}
.teste{
    width: 10px;
}
