@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Foldit:wght@100..900&family=Grey+Qo&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Foldit:wght@100..900&family=Grey+Qo&family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Sriracha", cursive;
    --font3: "Passion One", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: rgb(87, 79, 79);
    font-family: var(--font1);
}
header{
    color: white;
    background-color: black;
    text-align: center;
    font-family: var(--font3);
    
}
header > h1{
    padding-top: 50px;
    /*text-transform: uppercase; isso transforma todas as letras em maíusculas*/
    font-variant: small-caps; /*melhora as letras maiusculas e minusculas*/
    font-family: var(--font3);
    font-size: 10vw; /*aqui a fonte vai variar de acordo com a tela*/
}
header > p{
    font-size: 16px;
    padding-bottom: 50px;
    font-family: var(--font1);
}
header a{
    color: white;
    text-decoration: none;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em; /*é isso que dá o espaçamento entre as linhas*/
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 3.5vw;
}
section > p {
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;      
}
section#img2{
    background-image: url(/site/fotos/casamento\ 1.png);
}

section.imagem{
    background-color: rgb(83, 78, 78);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.589);
    background-attachment: fixed; /*esse é o efeito paralax*/
}
section.imagem > p {
    display: inline-block; /*aqui a 'caixa' que forma ao texto fica rente ao conteúdo*/
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.356);
    text-shadow: 3px 3px 0px black;
}
a {
    font-weight: bolder;
}
section#img1{
    background-image: url(../imagens/background001.jpg);
    background-size: cover;
    background-position: right center; /*se ñ configurar isso, a joaninha não aparece em modo celular*/
}
section#img2{
    background-image: url(../imagens/background002.jpg);
    background-size: cover;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
}
a:hover{
    text-decoration: underline;
}
footer a{
    color: white;
    text-decoration: none;
}